*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


a{
  text-decoration: none;
}

button{

  outline: none;
}

ul{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0px; 

}



li{
  background-color: #FF5F00;
  margin-top: 10px;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  color: aliceblue;
  width: 200px;
}

img{

  border-radius: 10px;
  margin: 10px 0px;
}

form{

  width:500px;
  padding:10px;
  margin: auto;
  
}

input{

  width: 100%;
  padding: 15px;
  outline: none;
  margin: 5px 0px;
}

button{

  width: 100%;
  padding:20px
}